html,
body,
.container {
     height: 100%;
}

img {
    width: 100%;
    height: auto;
}

 /* body { */
    /* overflow: hidden; */
 /* } */

 h1,
 h3 {
    margin: 0;
 }

.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    flex: 0 0 auto;
}

.logo {
    max-width: 200px;
    height: auto;
}

.main {
    overflow-y: auto;
}

.left {
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 30px;
    flex-shrink: 0;
    align-self: flex-end;
}
.right {
    max-width: 300px;
}

.right img {
    object-fit: contain;

}

.awesome,
.information,
.quote,
.call {
    flex: 1 1 auto;
}

.footer {
    flex: 0 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

ul,.link {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;

}

.awesome {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 50px 100px;
}


